---
import config from "../config/config";
import Layout from "../layouts/Layout.astro";
let err;
if (!Astro.cookies.has("token")) {
    return Astro.redirect("/login");
}
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const comment = data.get("comment");
    const image = data.get("img") as File;

    let token = Astro.cookies.get("token").value;
    const dataSend = new FormData();
    dataSend.append("hashtags", comment);
    dataSend.append("file", image);

    const options = {
        method: "POST",
        body: dataSend,
        headers: { Authorization: `Bearer ${token}` },
    };
    console.log(config.API_URL);
    let x = await fetch(`${config.API_URL}upload`, options);
    console.log(x);
    x = await x.json();
    if (!x.ok) {
        err = x.ok;
    } else {
        return Astro.redirect("/");
    }
}
---

<Layout title="upload">
    <form method="POST" enctype="multipart/form-data" class="d-flex flex-column justify-content-center">
        <div class="mb-3">
            <label class="form-label" for="comment"> Comentario </label>
            <input
                id="comment"
                name="comment"
                class="form-control"
                type="text"
                placeholder="#hola"
            />
        </div>
        <div class="mb-3">
            <label for="formfile" class="form-label" for="formfile">Foto</label>
            <input
                class="form-control"
                id="formfile"
                type="file"
                name="img"
                accept="image/*"
                capture="environment"
            />
        </div>
        <div mb-3>
            <button class="btn btn-primary" type="submit"> Subir </button>
        </div>
    </form>

    <p class="">{err}</p>
</Layout>
    <style>
        form{
            height: 100vh;
        }
    </style>