---

---

<a href="/upload">
    <button id="button" class="btn btn-primary"> + </button>
</a>
<style>
    #button {
        position: fixed;
        bottom: 2em;
        right: 2em;
        z-index: 999;
    }
    #button:hover {
        transform: scale(
            1.1
        ); 
        background-color: #0056b3;
    }
</style>
