---
---


<footer class="d-flex flex-row justify-content-center align-items-center m-2">
    <div class="">
        <a href="https://github.com/KevinFlorenciaMoragas"><img src="/github.svg"></a> 
    </div>
    <div class="">
        <span>Kevin Florencia</span>
    </div>
</footer>

<style>
    footer{
        background-color: #2B3964;
        height: auto;
    }
    img{
        height: auto;
        width: 2em;
    }
    span{
        color: #D0D8DC;
    }
</style>